<launch>
  <arg name="world"     default="$(find scan_values)/Velodyne/shapes_test.world"/>
  <arg name="config"    default="base"/>

  <include file="$(find jackal_gazebo)/launch/jackal_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="world_name"   value="$(arg world)"/>
    <arg name="config"       value="$(arg config)"/>
  </include>

  <include file="$(find jackal_viz)/launch/view_robot.launch">
    <arg name="config"       value="navigation"/>
  </include>

  <include file="$(find scan_values)/Velodyne/point2laser.launch">
  </include>

  <rosparam command="load" file="$(find scan_values)/src/configjackaltest.yaml" />

  <node pkg="scan_values" type="scanjackalv2.py" name="scan_jackal"/>

  <node pkg="scan_values" type="velocityjackalv2.py" name="velocity_jackal"/>
  
</launch>
